.t1 {
  font: var(--title);
  color: var(--c9);
  margin-bottom: 0.75rem;
  text-transform: capitalize;
}


.detail {
  position: relative;
  flex: 1;
}

.svg {
  position: absolute;
  right: 0;
  bottom: 4px;
  height: 3.3rem;
}

.sectionTitle {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sectionTitleMin {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}


.sectionTitleMin::after {
  content: '';
  width: 5%;
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  background: var(--c4);
}

.sectionTitle::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  background: linear-gradient(90deg, var(--c4) 5%, white 5%, white 80%, var(--c4) 80%);
  ;
}