.header {
  display: flex;
  min-height: 7.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--c1);
}

.logo {
  margin-left: 2rem;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menuMobile {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
  right: 0px;
  top: 90px;
  width: 200px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-20px);
  z-index: 1;
}

.menuMobile.active {
  transition: 0.3s;
  opacity: 1;
  transform: initial;
  pointer-events: initial;
}

.menuMobile a {
  display: block;
  background: transparent;
  /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); */
  border-bottom: 1px solid red;
  padding: .6rem 0;
  padding-left: 1rem;
}


.buttonPrimary {
  padding: 0.4rem 0.8rem;
  background: var(--r0);
  color: black;
  font: var(--link);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}


.buttonPrimary:hover {
  background: var(--r0h);
}


.buttonSecundary {
  padding: 0.4rem 0.8rem;
  background: var(--c1);
  color: black;
  font: var(--link);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.buttonSecundary:hover {
  background: var(--c1h);
}

.buttonMenu {
  background: none;
  border: none;
  cursor: pointer;
}

.buttonMenu img {
  height: 40px;
  transition: .3s;
  transform: rotate(0deg);
}

.buttonMenu.active img {
  transform: rotate(90deg);
}

.link {
  padding: 10px 20px;
  font: var(--link);
  color: var(--c8);
}

.link:hover {
  transition: .2s;
  color: black;
}

@media (max-width: 600px) {
  .menu ul {
    justify-self: end;
  }
}

@media (max-width: 400px) {

  .buttonPrimary:hover,
  .buttonSecundary:hover {
    background: #FFD6D6;
  }
}