.footer {
  font: var(--footer);
  color: #4D4D4D;
  padding: 2rem;
}

.footer p {
  text-align: center;
}

.footer a {
  color: #4D4D4D;
  text-decoration: none;
}

.footer a:hover {
  color: #333333;
  text-decoration: underline;
}